
if SHIELD_BREEZE_MX_LEFT

config ZMK_KEYBOARD_NAME
	default "Afternoon Breeze"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y

endif

if SHIELD_AFTERNOON-BREEZE_LEFT || SHIELD_AFTERNOON-BREEZE_RIGHT

config ZMK_SPLIT
	default y
 
endif
